@model examDotNet.Models.User

@{
    ViewData["Title"] = "Login";
    ViewData["ShowHeader"] = false;
    ViewData["ShowFooter"] = false;
    ViewData["SlideBarAdmin"] = false;
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}


<div class="logo">
        @* <h1>REC<span>Sound</span></h1> *@
         <a asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.png" alt="">
        </a>
</div>

    <div class="register-container">
        <div class="register">
            <div class="register-title">
                <h1>Mon Compte</h1>
            </div>
            <div class="identification section">
             
                <div class="input-group">
                    <div class="left">
                        <h3>Nouveau Client ?</h3>
                        <p>En créant votre compte sur SonoVente.com vous gagnerez du temps lors de vos prochaines commandes, vous bénéficierez de l’ensemble des services de votre espace personnel et profiterez de nos diverses offres promotionnelles</p>

                        <a asp-controller="Auth" asp-action="Register"><button class="btn-confirme">Creer Mon Compte</button></a>
                    </div>
                      <div class="right">
                    <form asp-controller="Auth" asp-action="Login" method="post">
                          <div class="input-field">
                              <label for="email" asp-for="Email">Email *</label>
                              <input type="email" id="email" class="email-input" asp-for="Email">
                              <span asp-validation-for="Email" class="message"></span>
                          </div>
                          <div class="input-field">
                              <label for="confirm-password" asp-for="Password">Mot de passe *</label>
                              <input type="password" id="confirm-password" class="password-input" asp-for="Password">
                              <span asp-validation-for="Password" class="message"></span>
                          </div>
                          <a href="#" class="pwd-forget"><p>Mot de passe oublié ?</p></a>
                          <button class="btn-confirme" type='submit' id='user-login-submit'>Se connecter</button>
                    </form>
                      </div>
                </div>
            </div>
        </div>
</div>