@{
    var userName = Context.Session.GetString("UserName");
    var userEmail = Context.Session.GetString("UserEmail");
    var userId = Context.Session.GetInt32("UserId");
    var userRole = Context.Session.GetInt32("UserRole");
}

<nav class="navbar">
    <div class="logo">
        <h1>REC <span>Sound</span></h1>
    </div>

    <div class="links">
        <ul>
            <li><a href="#">Les Produits</a></li>
            @if (userRole == 1)
            {
                <li><a asp-controller="Admin" asp-action="Dashboard">Dashboard</a></li>   
            }
            @if (userId != null)
            {
                <li><a href="#">Favoris</a></li>
            }
            <li><a href="#">A propos</a></li>
        </ul>
        @if (userId != null)
        {
            <div class="cart">
                <i class="icon fas fa-shopping-cart"></i>
            </div>
        }
    </div>

    <div class="action">
        @if (userId == null)
        {
            <a asp-controller="Auth" asp-action="Register">
                <button class="btn btn-register">S'inscrire</button>
            </a>
            <a asp-controller="Auth" asp-action="Login">
                <button class="btn btn-login">Se connecter</button>
            </a>
        }
        else
        {
            <div class="user-info">
                <i class="fas fa-user icon-user"></i>
                <p>@userEmail</p>
            </div>

            <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-logout">Se Déconnecter</button>
            </form>
        }
    </div>
</nav>