<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - examDotNet</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/examDotNet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    @if (ViewData["UseBootstrap"] != null && (bool)ViewData["UseBootstrap"])
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    }
    
    @if (ViewData["UseHeaderStyles"] != null && (bool)ViewData["UseHeaderStyles"])
    {
        <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    }
    
    @if (ViewData["UseSlideBarAdminStyles"] != null && (bool)ViewData["UseSlideBarAdminStyles"])
    {
        <link rel="stylesheet" href="~/css/slidebaradmin.css" asp-append-version="true" />
    }

    @if (ViewData["UseFooterStyles"] != null && (bool)ViewData["UseFooterStyles"])
    {
        <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    }
    
    @RenderSection("Styles", required: false)
</head>
<body>
    
    @if (ViewData["ShowHeader"] == null || (bool)ViewData["ShowHeader"])
    {
        <partial name="_Header" />
    }

    <div class="containers">
        @if (ViewData["SlideBarAdmin"] == null || (bool)ViewData["SlideBarAdmin"])
        {
            <partial name="_SlideBarAdmin" />
        }

        @* <main role="main" class="pb-3"> *@
            @RenderBody()
        @* </main> *@
    </div>

    @if (ViewData["ShowFooter"] == null || (bool)ViewData["ShowFooter"])
    {
        <partial name="_Footer" />
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>