<div class="slide-bar">
        <div class="logo">
            <h1><span>REC</span>SOUND</h1>
        </div>
        <div class="links">
            <div class="top">
                <a href="#users" class="menu-item">
                    <i class="fas fa-users"></i> Utilisateurs
                </a>
                <a href="#categories" class="menu-item">
                    <i class="fas fa-th-large"></i> Catégories
                </a>
                <a href="#products" class="menu-item">
                    <i class="fas fa-cogs"></i> Produits
                </a>
            </div>
            <div class="bottom">
                <a href="#settings" class="menu-item">
                    <i class="fas fa-cogs"></i> Paramètres
                </a>
                <a href="#logout" class="menu-item">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </div>
        </div>
    </div>