@{
    ViewData["Title"] = "Acceuil";
    ViewData["ShowHeader"] = true;
    ViewData["ShowFooter"] = false;
    ViewData["UseHeaderStyles"] = true;
    ViewData["UseFooterStyles"] = false;
    ViewData["SlideBarAdmin"] = false;
    ViewData["UseSlideBarAdminStyles"] = false;
    ViewData["UseBootstrap"] = false;
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

    
    <section class="welcome">
        <video autoplay muted loop id="background-video">
            <source src="~/video/bk.mp4" type="video/mp4">
        </video>

        <div class="welcome-content">
            <div class="typewriter" id="text-container"></div>
            @* <button class="btn">Tous les produits disponibles</button> *@
        </div>
    </section>

    <section class="products">
        <div class="container-card">
            <h2>Listes des produits</h2>
            <div class="product-container">
              <div class="product-card">
                <img class="product-img" src="https://cdn.cultura.com/cdn-cgi/image/width=830/media/pim/yamaha-rydeen-black-20-comp-2001000261475_0.jpg">
                  <div class="product-text">
                  <h3>Yamaha RYDEEN RDP0F5</h3>
                  <p>un kit batterie au coloris très attrayant, idéale pour une première batterie, </p>
                  </div>
                  <div class="product-cart">
                  <button type="submit">Add to cart</button>
                  </div>
              </div>
              
              <div class="product-card">
                <img class="product-img" src="https://cdn.cultura.com/cdn-cgi/image/width=830/media/pim/yamaha-rydeen-black-20-comp-2001000261475_0.jpg">
                  <div class="product-text">
                  <h3>Yamaha RYDEEN RDP0F5</h3>
                  <p>un kit batterie au coloris très attrayant, idéale pour une première batterie, </p>
                  </div>
                  <div class="product-cart">
                  <button type="submit">Add to cart</button>
                  </div>
              </div>
              
              <div class="product-card">
                <img class="product-img" src="https://cdn.cultura.com/cdn-cgi/image/width=830/media/pim/yamaha-rydeen-black-20-comp-2001000261475_0.jpg">
                  <div class="product-text">
                  <h3>Yamaha RYDEEN RDP0F5</h3>
                  <p>un kit batterie au coloris très attrayant, idéale pour une première batterie, </p>
                  </div>
                  <div class="product-cart">
                  <button type="submit">Add to cart</button>
                  </div>
              </div>
            </div>
            <p class="see-more">Afficher plus ... </p>
        </div>
    </section>

    <script>
        const texts = [
            "Profiter de notre large produit",
            "Des conseils d'expert",
            "Prix très abordable"
        ];
        let count = 0;
        let index = 0;
        let currentText = '';
        let letter = '';

        (function type() {
            if (count === texts.length) {
                count = 0;
            }
            currentText = texts[count];
            letter = currentText.slice(0, ++index);
            
            document.querySelector('.typewriter').textContent = letter;
            
            if (letter.length === currentText.length) {
                setTimeout(() => {
                    count++;
                    index = 0;
                    setTimeout(type, 1000); // Pause entre les phrases
                }, 2000); // Temps d'affichage de la phrase complète
            } else {
                setTimeout(type, 100); // Vitesse d'écriture
            }
        })();
    </script>