:root {
    --primary-color: #ff5733;
    --secondary-color: #8e44ad;
    --accent-color: #f1c40f;
    --text-color: #333;
    --background-color: rgba(255, 255, 255, 0.85);
    --scrollbar-bg: rgba(0, 0, 0, 0.1);
    --scrollbar-thumb: var(--accent-color);
    --font-family: "Poppins", sans-serif;
}


/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .nav-links a:hover {
    color: #000;
    background-color: var(--accent-color);
  }