@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-weight: 400;
}

a{
	text-decoration: none;
}

.logo {
  padding: 15px 0 0 100px;
}

.logo img{
  width: 150px;
}

.logo h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #f1c40f;
}
.logo h1 span {
  color: black;
}

.register-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
	  justify-content: center;
	  height: 75vh;
	  align-items: center;
}

.register {
  padding-bottom: 2rem;
  margin-bottom: 2rem auto;
}
.register .register-title {
  text-align: center;
  margin-bottom: 2rem;
}
.register .register-title h1 {
  color: #444547;
  font-weight: 500;
  margin: 0;
}
.register .register-title p {
  font-size: 0.8rem;
  color: gray;
  margin: 0;
}

.section {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}
.section:last-child {
  border-bottom: none;
}
.section .section-title {
  color: #494a4a;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
.input-group .left, .input-group .right {
  flex: 1;
  min-width: 300px;
}
.input-group h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: gray;
  text-align: center;
}
.input-group p {
  color: gray;
  font-size: 0.9rem;
  margin: 50px 20px;
  text-align: center;
}
.input-group .pwd-forget {
  font-size: 0.7rem;
}
.input-group .pwd-forget p {
  text-align: right;
  color: blue;
  margin: 35px 0;
}

.info.input-group {
  align-items: center;
}

.input-field {
  margin-bottom: 1rem;
}
.input-field label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #615f5f;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=tel],
.input-field input[type=date] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field input[type=tel]:focus,
.input-field input[type=date]:focus {
  outline: none;
  border-color: #4a6fa5;
  box-shadow: 0 0 0 2px rgba(74, 111, 165, 0.2);
}

.btn-confirme {
  display: block;
  width: 50%;
  padding: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 2rem auto 0;
}
.btn-confirme:hover {
  background-color: rgb(60.5577689243, 139.4422310757, 63.7450199203);
}